/*Home*/
.flex-container {
  flex-flow: row wrap;  
  padding-top: 100px;
  padding-bottom: 25px;
  margin: 0;
  list-style: none;
}

.flex-item {
  padding: 5px;  
  margin: 30px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  display: inline;
}

.flex-item img:hover {
  margin-left: 0 40 px;
  transform: scale(1.1,1.1);
  cursor: pointer;
}

/*CreateBird*/
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 0 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button[type='button']{
  background-color: #5A6268;
  color: white;
}

button[type='submit']{
  background-color: #5A6268;
  color: white;
}
input[type='submit']:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;  
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/*Bird Detail*/
.bird-container {
  margin: 20px 20px 0 0;    
  overflow: auto
}
.bird-thumb {
  float: left
}
.bird-thumb img {
  display: block  ;
  margin-right: 15px;
  width: 150px;
  height: 150px;
}

.v-content {
  margin-left: 210px
}
.bird-title {
  font-weight: bold;
  font-size: 200%;  
}

.font-oblique{
  font-style: oblique;
}